body{
    margin: 0;
    overflow: hidden;
    height: max-content;
    
    display: flex;
    flex-flow: column;
    height: 100%;
}

body > * {
    flex: 0 1 auto;
}

main {
    perspective: 1000px;
    perspective-origin: top;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
main > .destination-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s all ease-in-out;
    transform: scale(var(--planet-scale)) translateZ(var(--z-height));
}

main > .destination-wrapper > .btn {
    color: white!important;
    background-color: var(--red);

    position: absolute;
    top: 15%;
    right: 25%;
}

main > .destination-wrapper > img {
    width: 75vw;
    height: 75vh;
    object-fit: contain;
}

.booking-modal {
    position: fixed;
    right: 12.5vw;
    top:12.5vh;
    width: 75vw;
    max-height: 75vh;
    z-index: 100;
    padding: 1em;
    border-radius: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: #111;

}

.booking-modal > .btn-close {
    color: var(--cream);
    width: 1em;
    height: 1em;
    align-self: flex-end;
}

.booking-modal > .calendar > table {
    width: 100%;
    max-height: 65vh;
    aspect-ratio: 7/6;
    border-radius: 10px;
}

/* add border to calender */ 
.booking-modal > .calendar > table > tbody > tr > td {
    border: 1px solid var(--cream);
    border-collapse: separate;
    padding: 0.75em;

    vertical-align: top;
}

/* bevel Border on corner td's */ 
.booking-modal > .calendar > table > tbody > tr:first-child > :first-child {
    border-radius: 10px;
}

.booking-modal > .calendar > table > tbody > tr > .selected-date{
    background-color: var(--red);
}

.booking-modal .price {
    min-height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 1em;


}

.booking-modal .price > .btn{
    background-color: var(--red);
	color: white!important;
}

.destination-selector {
    font-size: 1.5em;
    padding-right: 0.5em;

    position: fixed;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

    z-index: 99;
}