body {
    margin: 0px;
}

a {
    color: var(--red)!important;
}

.nav-item {
    color: var(--red);
}

.logo-container {
    color: blue;
    width: 25%;
    padding: 0px;
}

.nav-container {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.unorderd-list {
    margin-top: -20px;
}

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    position: relative;
    left:  775px;
    bottom: 100px;
}