:root {
    /*Emphasized Color Scheme*/
    --deep-red: #73161E;
    --red: #BF2633;
    --cream: #F2E9CE;
    --tan: #F29580;
    --black: #261513;

    /*Alternates*/
    --deep-red-alt: #8C1822;
    --red-alt: #8C1822;
    --manor-red: #401616;
    --ash: #A69292;
  }