body {
    background-color: var(--black);
    color: var(--cream);
}

.grid-safety{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 40px;
}

.grid-safety > .row-safety > .col-safety > .safety-photos{
    height: 300px;
    width: 100%;
}

.grid-safety > .row-safety > .col-safety > .safety-photos img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.grid-safety > .row-safety > .col-safety > .safety-text{
    height: 300px;
    width: 100%;
}

