body {
    background-color: var(--black);
    color: var(--cream);
    font-family: 'Noto Sans', sans-serif;
}

.grid-safety{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 40px 15% 40px 15%;

}

.grid-safety > .row-safety {
    display: flex;
}

.grid-safety > .row-safety > .col-safety{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 350px;
    margin: 10px;
}

.grid-safety > .row-safety > .col-safety > .safety-photos img{
    object-fit: cover;
}

.grid-safety > .row-safety > .col-safety > .safety-text{
   text-align: center;

}

