body {
    background-color: var(--black);
    color: var(--cream);
}

.grid-safety{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 10% 30px 10%;
}

.grid-safety > .row-safety > .col-safety > .safety-photos{
    height: 500px;
    width: fit-content;
}

.grid-safety > .row-safety > .col-safety > .safety-photos img{
    height: 500px;
    width: fit-content;
    object-fit: cover;
}

.grid-safety > .row-safety > .col-safety > .safety-text{
    height: 500px;
    width: fit-content;
    text-align: center;
    
    
}

