:root {
    --background-color: #000;

    /* Custom perspective prop */
    --z-height: 0;
}
body {
    background-image: url(../media/images/space_background/stars.png);
    background-repeat: repeat;
    color: var(--cream);
    font-family: 'Noto Sans', sans-serif;

}