body {
    display: grid;
    background-color: var(--black);
    color: var(--cream);
    grid-template-columns:
    1fr
    1fr
    1fr
    1fr
    ;
    grid-template-rows:
    min-content
    min-content
    1fr
    50px
    ;
    grid-template-areas:
    'nav nav nav nav'
    'header header header header'
    'body body body body'
    'footer footer footer footer'
    ;
}

/*nav area*/
.d-flex {
    grid-area: nav;
}


/*header area*/
.header {
    grid-area: header;
    margin-bottom: 5px;
}


/*body area*/
.body {
    grid-area: body;
    margin-bottom: 5px;
}

.body-content {
    display: grid;
    grid-template-rows:
    1fr
    1fr
    1fr
    ;
}

.vehicles {
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--ash);
}
.vehicles > .vehicles-text {
    margin-left: 35px;
    width: 250px;
}

.launch {
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--ash);
}
.launch > .launch-text {
    margin-left: 50px;
    width: 250px;
}

.recovery {
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--ash);
}
.recovery > .recovery-text {
    margin-left: 30px;
    width: 250px;
}



/*footer area*/
.footer {
    grid-area: footer;
    margin-bottom: 5px;
    font-size: 0.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--ash);
}