.grid-container {
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 500px 500px;
  }
  .grid-item {
    background-color: var(--tan);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-top: 3px black;
  }
  .aiden{
    width: 470px;
    height: 450px;
  }
.this{
    float: left;
  }