.nav-item {
    color: var(--red);
}

.logo-container {
    color: blue;
    width: 25%;
    padding: 0px;
}

.nav-container {
    margin: auto;
    width:50%;
}

.unorderd-list {
    margin-top: -20px;
}